spring:
  datasource:
    url: jdbc:h2:mem:smart_parking;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update   # use 'update' or 'create-drop' for quick testing
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  redis:
    host: localhost
    port: 6379
    # Optional: disable Redis cache if not running
    timeout: 1000
    lettuce:
      shutdown-timeout: 100

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework: info
